[include mainsail.cfg]
[include macros.cfg]
[include timelapse.cfg]
[include ./KAMP/KAMP_Settings.cfg]
[include options/lcd/*.cfg]
[include options/probe/eddy-ng.cfg] # BTT Eddy NG probe
# Want to use a thermistor in your enclosure? You can use a RPi Pico with a BME280.
# Read the guide at /pico-thermistor/ on how to do this. Once ready you can uncomment the cfg below.
#[include options/thermistor/pico.cfg

[mcu]      
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFD705334E563643741751-if00
restart_method: command     

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_55FF71064849825348511267-if00
restart_method: command      


[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy           
max_velocity: 400            
max_accel: 20000             
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True             
run_current: 1.96              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 40
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True             
run_current: 1.96             
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 30
diag_pin: PE13 

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: true             
run_current: 0.55           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: true             
run_current:  0.55          
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: true             
run_current: 0.55            
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: true            
run_current: 0.55         
#hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999 

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[extruder]
step_pin: extra_mcu:PA8   
dir_pin: extra_mcu:PB8    
enable_pin:!extra_mcu: PB11   
rotation_distance: 6.5 
microsteps: 16                
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
max_extrude_only_distance: 150     
heater_pin:extra_mcu:PB9  
sensor_type:ATC Semitec 104NT-4-R025H42G  #my_thermistor_e
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5  
min_temp: 5                  
max_temp: 300                 
max_power: 1.0                
min_extrude_temp: 5
#control : pid
#pid_kp : 33.838
#pid_ki : 5.223
#pid_kd : 47.752
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.035    
max_extrude_cross_section: 10

[tmc2209 extruder]
uart_pin: extra_mcu:PB10  
interpolate: True             
run_current: 0.8           
#hold_current: 0.75             
uart_address:3
sense_resistor: 0.150          

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 105                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

[probe_pressure]
pin: ^!PE12     
x_offset: 0                  
y_offset: 0
z_offset : 0
speed: 1.0

[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
	36,10
	36,320
	346,320
	346,10
speed: 400                   
horizontal_move_z: 10       
retry_tolerance: 0.05      
retries: 5                  
max_adjust: 30

[fan_generic fan0] # rear part fan
pin: extra_mcu:PA7
max_power: 1.0

[fan_generic fan1] # front part fan
pin: extra_mcu:PB1
max_power: 1.0

[fan_generic fan3] # exhaust fan
pin: PA2
max_power: 1.0

# MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
[temperature_fan MCU_fan]
sensor_type: temperature_host
control: watermark
pin: PA1
max_power: 1
min_temp: 15
target_temp: 60
max_temp: 100
kick_start_time: 0.5

[heater_fan hotend_fan]      
pin: extra_mcu:PA6   
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 50              
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[gcode_arcs]                       
resolution: 1.0                    

# Defined as an LED for ease of control
[led main_led]
white_pin:PA3
cycle_time: 0.010
hardware_pwm: False
initial_WHITE: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 600


[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extra_mcu

[pause_resume]

[exclude_object]

[adxl345]
cs_pin:extra_mcu:PB12

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
accel_per_hz:50
#min_freq:1
#max_freq:100
max_smoothing:0.2
hz_per_sec:0.5

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001
#shaper_type_x = mzv
#shaper_freq_x = 35
#shaper_type_y = mzv
#shaper_freq_y = 35

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 30.056
#*# pid_ki = 4.008
#*# pid_kd = 56.355
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 63.959
#*# pid_ki = 0.999
#*# pid_kd = 1024.149
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 45.4
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 52.0
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibration_17 = gASV5AoAAAAAAAB9lCiMAWaUXZQoR0FH+TgoJjq1R0FH+gaJ4ywWR0FH+tTroB14R0FH+6NNXQ7ZR0FH/HGvGgA6R0FH/UAQ1vGbR0FH/g5yk+L9R0FH/tzUUNReR0FH/6s2DcW/R0FIAHmXyrcgR0FIAUf5h6iCR0FIAhZbRJnjR0FIAuS9AYtER0FIA7MevnylR0FIBIGAe24HR0FIBU/iOF9oR0FIBh5D9VDJR0FIBuylskIrR0FIB7sHbzOMR0FICIlpLCTtR0FICVfK6RZOR0FICiYspgewR0FICvSOYvkRR0FIC8LwH+pyR0FIDJFR3NvTR0FIDV+zmc01R0FIDi4VVr6WR0FIDvx3E6/3R0FID8rY0KFZR0FIEJk6jZK6R0FIEWecSoQbR0FIEjX+B3V8R0FIEwRfxGbeR0FIE9LBgVg/R0FIFKEjPkmgR0FIFW+E+zsBR0FIFj3muCxjR0FIFwxIdR3ER0FIF9qqMg8lR0FIGKkL7wCGR0FIGXdtq/HoR0FIGkXPaONJR0FIGxQxJdSqR0FIG+KS4sYMR0FIHLD0n7dtR0FIHX9WXKjOR0FIHk24GZovR0FIHxwZ1ouRR0FIH+p7k3zyR0FIILjdUG5TR0FIIYc/DV+0R0FIIlWgylEWR0FIIyQCh0J3R0FII/JkRDPYR0FIJMDGASU5R0FIJY8nvhabR0FIJl2Jewf8R0FIJyvrN/ldR0FIJ/pM9Oq/R0FIKMiusdwgR0FIKZcQbs2BR0FIKmVyK77iR0FIKzPT6LBER0FILAI1paGlR0FILNCXYpMGR0FILZ75H4RnR0FILm1a3HXJR0FILzu8mWcqR0FIMAoeVliLR0FIMNiAE0ntR0FIMabh0DtOR0FIMnVDjSyvR0FIM0OlSh4QR0FINBIHBw9yR0FINOBoxADTR0FINa7KgPI0R0FINn0sPeOVR0FIN0uN+tT3R0FIOBnvt8ZYR0FIOOhRdLe5R0FIObazMakaR0FIOoUU7pp8R0FIO1N2q4vdR0FIPCHYaH0+R0FIPPA6JW6gR0FIPb6b4mABR0FIPoz9n1FiR0FIP1tfXELDR0FIQCnBGTQlR0FIQPgi1iWGR0FIQcaEkxbnR0FIQpTmUAhIR0FIQ2NIDPmqR0FIRDGpyesLR0FIRQALhtxsR0FIRc5tQ83OR0FIRpzPAL8vR0FIR2swvbCQR0FISDmSeqHxR0FISQf0N5NTR0FISdZV9IS0R0FISqS3sXYVR0FIS3MZbmd2R0FITEF7K1jYR0FITQ/c6Eo5R0FITd4+pTuaR0FITqygYiz7R0FIT3sCHx5dR0FIUElj3A++R0FIURfFmQEfR0FIUeYnVfKBR0FIUrSJEuPiR0FIU4Lqz9VDR0FIVFFMjMakR0FIVR+uSbgGR0FIVe4QBqlnR0FIVrxxw5rIR0FIV4rTgIwpR0FIWFk1PX2LR0FIWSeW+m7sR0FIWfX4t2BNR0FIWsRadFGuR0FIW5K8MUMQR0FIXGEd7jRxR0FIXS9/qyXSR0FIXf3haBc0R0FIXsxDJQiVR0FIX5qk4fn2R0FIYGkGnutXR0FIYTdoW9y5R0FIYgXKGM4aR0FIYtQr1b97R0FIY6KNkrDcR0FIZHDvT6I+R0FIZT9RDJOfR0FIZg2yyYUAR0FIZtwUhnZiR0FIZ6p2Q2fDR0FIaHjYAFkkR0FIaUc5vUqFR0FIahWbejvnR0FIauP9Ny1IR0FIa7Je9B6pR0FIbIDAsRAKR0FIbU8ibgFsR0FIbh2EKvLNR0FIbuvl5+QuR0FIb7pHpNWPR0FIcIipYcbxR0FIcVcLHrhSZYwBaJRdlChHQC3iPXCj1wpHQCq8H17zzrFHQCh8qcsjEmNHQCbB29RYTydHQCU10ubvKtxHQCPymV1f+c9HQCLdwAFCpoBHQCHuF7NbcblHQCENo/uPHsRHQCBIcmgp36ZHQB895yd4y0tHQB4MTkiQ0bZHQBziBh+Imd5HQBvhoxBIFKVHQBrm0ydZQmRHQBn4N4OXn+BHQBkmMSUpAC9HQBhld3vNSwxHQBemlSQIAxtHQBbxBksVGd9HQBZTMcw0F/JHQBW4Hk8L+ydHQBUcoBn6MPRHQBSP6usRVmxHQBQJ7abCAgpHQBOMBsDHdtZHQBMOIjNEDQJHQBKX4mVDcv9HQBIm3u5/YdVHQBG1l4AoXtdHQBFMVY5NHq5HQBDl/SqHkvNHQBCGeRj/hKNHQBAnGQKFvyVHQA+c7WcMvkBHQA7wH0Qoe2pHQA5LYyBzJj9HQA2lHwBylvlHQA0FozkyLcBHQAxq+c7gUvZHQAvQiXYd+QNHQAtE6Z2wMe9HQAqxoSnvWfxHQAokVbzwWAFHQAmdsXYLi39HQAkZ0yR0apJHQAiXZXYVsxJHQAgfdtNf1QdHQAemr+yqf0tHQAcxkHDNOVhHQAa+457UMxtHQAZPeG/QsCVHQAXgazD8EGJHQAV1X8PmHJZHQAUMC+w2APlHQASlCq6zIRpHQARAOlA2REFHQAPcP8Nnf0hHQAN9ZdjjQu5HQAMcZXwAAURHQALAD/fY6yZHQAJlRXYHL1RHQAIM7VcAN5NHQAG11uoN6h9HQAFfcEmDXaJHQAELJvDKlAlHQAC55QIQX89HQABn1Gwl3XRHQAAXVe0aNiNHP/+Mx2Uhu05HP/7xDPWOvilHP/5V1NdpHeNHP/3AHLG4LoxHP/0tzxHtlbBHP/yd12Fzaz1HP/wOWJljYBdHP/uDctiyb55HP/r3k1Ldz2RHP/pyptE98m5HP/ntLXTAafVHP/lr2IGDr+FHP/jm9LKu0PZHP/hk+w+hN2FHP/fl5Fejo4VHP/drm90WLLNHP/bvhoAxgRhHP/Z05YIM2atHP/X+9HuHfxpHP/WHs9wvgQNHP/UTC7lPAsNHP/SdF3Gd/gNHP/QsNWfav1dHP/O+zvH0YiNHP/NPtwgdMt5HP/Lgd8yrxmlHP/JxmQ6OOwNHP/IG23Cldn9HP/GcYymmx4lHP/Ezo/IDc95HP/DMpdnyOOpHP/Bme1t3saFHP/ACJvnL9EBHP+8+25cKIxVHP+56K5BKWbBHP+2yvAqwmLZHP+zxgmol/o9HP+wz22sWK6NHP+t3gWizM85HP+q7XkpnFGRHP+oCMfQMezBHP+lK3qrVA0xHP+iVIkiLbgZHP+fhWj1f5sNHP+czTP59wR5HP+aF/u9SY6VHP+XVROFP2xNHP+Umyn8bIYVHP+R5RHOMWyhHP+PQMoHsN2dHP+MnaZuY7f9HP+J+P+3Rx8ZHP+HZDtydIJJHP+E2vKR0qQ5HP+CVHw2700ZHP9/rT5IDqnhHP96p8pEdLTpHP91s0AhJKNNHP9wxD9qkfGRHP9ryteWBZodHP9m42GK0r9NHP9iJnRsJvtpHP9daupIyEM1HP9YrQ42ynyhHP9T87s8Qv4dHP9PQ2/ETwdhHP9KsplozPC1HP9GNSSqTzadHP9BqFOZPfShHP86RAGNadm5HP8xM+3LmaNVHP8oPcJNY1gNHP8fVgA78cKdHP8WhXgXdAF1HP8Nz3rupK61HP8FKaS+acFZHP745uxKdyr9HP7nUOt6ndA9HP7WMOj+pJnNHP7FWiJ1O9kVHP6nrhR64UoBljAdoX3JhbmdllEc/qeuFHrhSgEdALeI9cKPXCoaUjAdmX3JhbmdllEdBR/k4KCY6tUdBSHFXCx64UoaUjAJkY5RLEXUu
#*# calibrated_drive_currents = 17, 16
#*# calibration_version = 3
#*# calibration_16 = gASV5AoAAAAAAAB9lCiMAWaUXZQoR0FIGd32VgQYR0FIGpp0ds+9R0FIG1byl5tiR0FIHBNwuGcIR0FIHM/u2TKtR0FIHYxs+f5SR0FIHkjrGsn3R0FIHwVpO5WdR0FIH8HnXGFCR0FIIH5lfSznR0FIITrjnfiMR0FIIfdhvsQyR0FIIrPf34/XR0FII3BeAFt8R0FIJCzcISchR0FIJOlaQfLHR0FIJaXYYr5sR0FIJmJWg4oRR0FIJx7UpFW2R0FIJ9tSxSFbR0FIKJfQ5e0BR0FIKVRPBrimR0FIKhDNJ4RLR0FIKs1LSE/wR0FIK4nJaRuWR0FILEZHiec7R0FILQLFqrLgR0FILb9Dy36FR0FILnvB7EorR0FILzhADRXQR0FIL/S+LeF1R0FIMLE8Tq0aR0FIMW26b3jAR0FIMio4kERlR0FIMua2sRAKR0FIM6M00duvR0FINF+y8qdUR0FINRwxE3L6R0FINdivND6fR0FINpUtVQpER0FIN1GrddXpR0FIOA4plqGPR0FIOMqnt200R0FIOYcl2DjZR0FIOkOj+QR+R0FIOwAiGdAkR0FIO7ygOpvJR0FIPHkeW2duR0FIPTWcfDMTR0FIPfIanP65R0FIPq6YvcpeR0FIP2sW3pYDR0FIQCeU/2GoR0FIQOQTIC1NR0FIQaCRQPjzR0FIQl0PYcSYR0FIQxmNgpA9R0FIQ9YLo1viR0FIRJKJxCeIR0FIRU8H5PMtR0FIRguGBb7SR0FIRsgEJop3R0FIR4SCR1YdR0FISEEAaCHCR0FISP1+iO1nR0FISbn8qbkMR0FISnZ6yoSyR0FISzL461BXR0FIS+93DBv8R0FITKv1LOehR0FITWhzTbNGR0FITiTxbn7sR0FITuFvj0qRR0FIT53tsBY2R0FIUFpr0OHbR0FIURbp8a2BR0FIUdNoEnkmR0FIUo/mM0TLR0FIU0xkVBBwR0FIVAjidNwWR0FIVMVglae7R0FIVYHetnNgR0FIVj5c1z8FR0FIVvra+AqqR0FIV7dZGNZQR0FIWHPXOaH1R0FIWTBVWm2aR0FIWezTezk/R0FIWqlRnATlR0FIW2XPvNCKR0FIXCJN3ZwvR0FIXN7L/mfUR0FIXZtKHzN6R0FIXlfIP/8fR0FIXxRGYMrER0FIX9DEgZZpR0FIYI1ComIPR0FIYUnAwy20R0FIYgY+4/lZR0FIYsK9BMT+R0FIY387JZCjR0FIZDu5RlxJR0FIZPg3ZyfuR0FIZbS1h/OTR0FIZnEzqL84R0FIZy2xyYreR0FIZ+ov6laDR0FIaKauCyIoR0FIaWMsK+3NR0FIah+qTLlzR0FIatwobYUYR0FIa5imjlC9R0FIbFUkrxxiR0FIbRGiz+gIR0FIbc4g8LOtR0FIboqfEX9SR0FIb0cdMkr3R0FIcAObUxacR0FIcMAZc+JCR0FIcXyXlK3nR0FIcjkVtXmMR0FIcvWT1kUxR0FIc7IR9xDXR0FIdG6QF9x8R0FIdSsOOKghR0FIdeeMWXPGR0FIdqQKej9sR0FId2CImwsRR0FIeB0Gu9a2R0FIeNmE3KJbR0FIeZYC/W4BR0FIelKBHjmmR0FIew7/PwVLR0FIe8t9X9DwR0FIfIf7gJyVR0FIfUR5oWg7R0FIfgD3wjPgR0FIfr114v+FR0FIf3n0A8sqR0FIgDZyJJbQR0FIgPLwRWJ1R0FIga9uZi4aR0FIgmvshvm/R0FIgyhqp8VlR0FIg+ToyJEKR0FIhKFm6VyvR0FIhV3lCihUR0FIhhpjKvP6R0FIhtbhS7+fR0FIh5NfbItEZYwBaJRdlChHQC3lXCj1wo5HQCsXAKiFox9HQCjrsklLEnRHQCcqwb5q5cFHQCWsV7AAOeNHQCRrZniUxPBHQCNRqIpVpNJHQCJf4mCfO7FHQCGDgh8+wGVHQCDE7ps84IVHQCAeff1EDM1HQB72YgyNo3pHQB3g4dBLnclHQBzE0p1rGXlHQBvO9RtM1DZHQBr9mEKTtrJHQBofbGFucehHQBlJwWB1bsNHQBh/BHMw3ERHQBfRomfX8sxHQBc1m05EyYVHQBaat8MgCkZHQBX57LFkb+RHQBVsd6jFkzFHQBTnDVtkJ/BHQBRn0GAF4aJHQBPolK3zXQFHQBNpYqjXpnpHQBLz39onW6VHQBKHqJI4jxVHQBIbGedvsnNHQBGzCzoQ6I9HQBFQaglL7ktHQBDywDz2YM5HQBCX2TbhEg9HQBA6SGhZWxxHQA/G2MXgNDxHQA8emXCPfoVHQA55o9v7m0pHQA3auakQaK5HQA1CP+TEQPJHQAysI16sOFtHQAwbxm3WHypHQAuNirPBvuFHQAsDGb0+eOVHQAp+MgA/qw1HQAn5AjDe54FHQAl6DAxknX9HQAj/WcZ6h11HQAiF+CgM0eBHQAgQZkT8IMNHQAef10PL6ZBHQActiEM4RKNHQAa/HTurcsxHQAZRiAyNhRRHQAXknJm6k/9HQAV7xi0pmMxHQAUWc6MQal1HQASy9LNdZeFHQARRGqZze/hHQAPwZhaEBE5HQAOTHStVmCZHQAM3sxbsv8BHQALeQaTD/gVHQAKJNlFa2tJHQAIydkW4rO5HQAHd/kgEFG9HQAGLYNZvI69HQAE6WVyfBN1HQADpzlWnxulHQACZ++X8+MtHQABJXmNKpY5HP//1Ivrtd3tHP/9d9nnY5IlHP/7H01oW03tHP/4yI8176r9HP/2hqFEdHYxHP/0QT4IadeNHP/yBIdJdo7JHP/v2WnpEuglHP/tv73csewBHP/rogQOU1nRHP/phuz68D6lHP/ne9T96PBZHP/lcPdZ3+qpHP/jXop/EmWJHP/hXrqHkR/5HP/fbKydl99RHP/ddZVJV5pNHP/bgpJs49FtHP/ZmZDN1GItHP/XwBhz4sqRHP/V3THr9TQhHP/UA9Ko07dpHP/SOXdAcDJRHP/QevJARMFBHP/OtYWydmDJHP/M9M0uEIgxHP/LMWt5ev6pHP/JfS9xRtdRHP/HygIZ1jZNHP/GFyaDumOlHP/EXNupTWDNHP/CtqRuz6ttHP/BE/W6QsbxHP++9MTS3evxHP+7tcGQVbTJHP+4it3fZSkNHP+1VnP0CsApHP+yQzBiQZb9HP+vK8sKGFadHP+sHEOoD94dHP+pBnaX48QNHP+mAX/TptL9HP+jFUu8pWxBHP+gM/X54tZhHP+dSDjTQqfVHP+aYkHSlUwJHP+Xe0Rrxy/ZHP+UocDOtv0pHP+RzdnfelChHP+PD1d12Wc1HP+MUd7CpRSxHP+Jm7t8kzvJHP+G5aZN5A8pHP+EMK58XHbhHP+BfYDMVgiNHP99nPdeuJltHP94W2xeKnj5HP9y4zKEvelRHP9tm8Bb73IJHP9oXcWqC4SdHP9jJyP4MtwhHP9d+jhjdcTVHP9Y6m2wBQAdHP9Ts+n2M6OFHP9Oqylq/jGhHP9Jc4XPteG5HP9ESpgR8Y3pHP8+SMGz3AoFHP80hKGA04PtHP8qqFSu8HuFHP8gvMBx9d7xHP8Wk3i3JTKhHP8Mtr7r/kVZHP8C/EZQQU45HP7yRRmLsWZZHP7ekHOHTuMhHP7KwJjjJ4/pHP6t64UeuFABljAdoX3JhbmdllEc/q3rhR64UAEdALeVcKPXCjoaUjAdmX3JhbmdllEdBSBnd9lYEGEdBSIeTX2yLRIaUjAJkY5RLEHUu
