[include mainsail.cfg]
[include macros.cfg]
[include timelapse.cfg]
[include ./KAMP/KAMP_Settings.cfg]
[include options/lcd/*.cfg]
[include options/probe/eddy-ng.cfg] # BTT Eddy NG probe
# Want to use a thermistor in your enclosure? You can use a RPi Pico with a BME280.
# Read the guide at /pico-thermistor/ on how to do this. Once ready you can uncomment the cfg below.
#[include options/thermistor/pico.cfg
[include CAN-ebb.conf]
#[include USB-toolhead.conf]

[mcu]      
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFD705334E563643741751-if00
restart_method: command     
    
[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy           
max_velocity: 500            
max_accel: 17000             
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 60              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True             
run_current: 1.4 #2                
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 40
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 60              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True             
run_current: 1.4 #2             
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 30
diag_pin: PE13 

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: true             
run_current: 0.55           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: true             
run_current:  0.55          
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: true             
run_current: 0.55            
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: true            
run_current: 0.55         
#hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999 

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6     

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 105                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
	36,10
	36,320
	346,320
	346,10
speed: 400                   
horizontal_move_z: 10       
retry_tolerance: 0.05      
retries: 5                  
max_adjust: 30

[fan_generic fan3] # exhaust fan
pin: PA2
max_power: 1.0

# MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
[temperature_fan MCU_fan]
sensor_type: temperature_host
control: watermark
pin: PA1
max_power: 1
min_temp: 15
target_temp: 60
max_temp: 100
kick_start_time: 0.5

[gcode_arcs]                       
resolution: 1.0                    

# Defined as an LED for ease of control
[led main_led]
white_pin:PA3
cycle_time: 0.010
hardware_pwm: False
initial_WHITE: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 600


[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110

[pause_resume]

[exclude_object]

[autotune_tmc stepper_x] 
motor: ldo-42sth48-2804ah
sg4_thrs: 75 
[autotune_tmc stepper_y]
motor: ldo-42sth48-2804ah 
sg4_thrs: 75

#[autotune_tmc stepper_z] 
#motor: Shengyang-42BYGH1603-A-20DNT 
#[autotune_tmc stepper_z1] 
#motor: Shengyang-42BYGH1603-A-20DNT 
#[autotune_tmc stepper_z2] 
#motor: Shengyang-42BYGH1603-A-20DNT 
#[autotune_tmc stepper_z3] 
#motor: Shengyang-42BYGH1603-A-20DNT

#[autotune_tmc extruder] 
#motor: Shengyang-36BYG1510-1M-6QT

#[motor_constants Shengyang-36BYG1510-1M-6QT] #extruder 
#resistance: 1.8 
#inductance: 0.0012 
#holding_torque: 0.135 
#max_current: 1.5 
#steps_per_revolution: 200

#[motor_constants Shengyang-42BYGH1603-A-20DNT] #z 
#resistance: 6 
#inductance: 0.0087 
#holding_torque: 0.28 
#max_current: 0.8 
#steps_per_revolution: 200

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 63.959
#*# pid_ki = 0.999
#*# pid_kd = 1024.149
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 45.4
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 52.0
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibration_17 = gASV5AoAAAAAAAB9lCiMAWaUXZQoR0FIDeSnGp++R0FIDreHx5c1R0FID4podI6sR0FIEF1JIYYjR0FIETApzn2aR0FIEgMKe3UQR0FIEtXrKGyHR0FIE6jL1WP+R0FIFHusglt1R0FIFU6NL1LsR0FIFiFt3EpjR0FIFvROiUHaR0FIF8cvNjlRR0FIGJoP4zDIR0FIGWzwkCg+R0FIGj/RPR+1R0FIGxKx6hcsR0FIG+WSlw6jR0FIHLhzRAYaR0FIHYtT8P2RR0FIHl40nfUIR0FIHzEVSux/R0FIIAP19+P1R0FIINbWpNtsR0FIIam3UdLjR0FIInyX/spaR0FII094q8HRR0FIJCJZWLlIR0FIJPU6BbC/R0FIJcgasqg2R0FIJpr7X5+tR0FIJ23cDJcjR0FIKEC8uY6aR0FIKROdZoYRR0FIKeZ+E32IR0FIKrlewHT/R0FIK4w/bWx2R0FILF8gGmPtR0FILTIAx1tkR0FILgThdFLbR0FILtfCIUpRR0FIL6qizkHIR0FIMH2Dezk/R0FIMVBkKDC2R0FIMiNE1SgtR0FIMvYlgh+kR0FIM8kGLxcbR0FINJvm3A6SR0FINW7HiQYJR0FINkGoNf1/R0FINxSI4vT2R0FIN+dpj+xtR0FIOLpKPOPkR0FIOY0q6dtbR0FIOmALltLSR0FIOzLsQ8pJR0FIPAXM8MHAR0FIPNitnbk2R0FIPauOSrCtR0FIPn5u96gkR0FIP1FPpJ+bR0FIQCQwUZcSR0FIQPcQ/o6JR0FIQcnxq4YAR0FIQpzSWH13R0FIQ2+zBXTuR0FIREKTsmxkR0FIRRV0X2PbR0FIRehVDFtSR0FIRrs1uVLJR0FIR44WZkpAR0FISGD3E0G3R0FISTPXwDkuR0FISga4bTClR0FIStmZGigcR0FIS6x5xx+SR0FITH9adBcJR0FITVI7IQ6AR0FITiUbzgX3R0FITvf8ev1uR0FIT8rdJ/TlR0FIUJ291OxcR0FIUXCegePTR0FIUkN/LttKR0FIUxZf29LAR0FIU+lAiMo3R0FIVLwhNcGuR0FIVY8B4rklR0FIVmHij7CcR0FIVzTDPKgTR0FIWAej6Z+KR0FIWNqElpcBR0FIWa1lQ454R0FIWoBF8IXuR0FIW1MmnX1lR0FIXCYHSnTcR0FIXPjn92xTR0FIXcvIpGPKR0FIXp6pUVtBR0FIX3GJ/lK4R0FIYERqq0ovR0FIYRdLWEGlR0FIYeosBTkcR0FIYr0MsjCTR0FIY4/tXygKR0FIZGLODB+BR0FIZTWuuRb4R0FIZgiPZg5vR0FIZttwEwXmR0FIZ65Qv/1dR0FIaIExbPTTR0FIaVQSGexKR0FIaibyxuPBR0FIavnTc9s4R0FIa8y0INKvR0FIbJ+UzcomR0FIbXJ1esGdR0FIbkVWJ7kUR0FIbxg21LCLR0FIb+sXgagBR0FIcL34Lp94R0FIcZDY25bvR0FIcmO5iI5mR0FIczaaNYXdR0FIdAl64n1UR0FIdNxbj3TLR0FIda88PGxCR0FIdoIc6WO4R0FId1T9llsvR0FIeCfeQ1KmR0FIePq+8EodR0FIec2fnUGUR0FIeqCASjkLR0FIe3Ng9zCCR0FIfEZBpCf5R0FIfRkiUR9wR0FIfewC/hbmR0FIfr7jqw5dR0FIf5HEWAXUR0FIgGSlBP1LR0FIgTeFsfTCR0FIggpmXuw5R0FIgt1HC+OwR0FIg7AnuNsnR0FIhIMIZdKeR0FIhVXpEsoUR0FIhijJv8GLR0FIhvuqbLkCR0FIh86LGbB5R0FIiKFrxqfwZYwBaJRdlChHQBOUZmZmZmVHQBMgPpVToy9HQBKyCFvucA1HQBJJIXXklDxHQBHhmoX2ZrNHQBF89XWdRCZHQBEc191PFe5HQBDDkPNM4TBHQBBsI6gF+L9HQBAYyTHe+QdHQA+NX2fBAq1HQA7s5v/kOdRHQA5Tb247VFhHQA26qFiLiIFHQA0o69ilLRFHQAydTzxjMqpHQAwTLLP92kxHQAuNnqnkkp1HQAsObEV04FFHQAqRA45e27JHQAoT4jIM9uRHQAmb5R7A499HQAkn4RgvOmBHQAi4VJu44pxHQAhJeGe6LRlHQAfec6tD7whHQAd2a26EGNpHQAcOQKArbBFHQAasWWKtIIhHQAZJjRJO3KxHQAXpxd3t441HQAWMJO+FpVtHQAUzJmUbKwxHQATZn+HZMYtHQASBr+/jeEdHQAQoB5hjJxpHQAPSY7J3GHZHQAN/fL/UZ21HQAMuRwciSadHQALdb+pcYOhHQAKLwTB+DT1HQAI9iLW7EGRHQAHxVaFxGKlHQAGmPCopzCNHQAFdB1hhYnxHQAESy9s0J+FHQADI+bzhj6FHQACAyLSlsdFHQAA88VNvchJHP//yBMbjykNHP/9rrRY2eKJHP/7kX/cDNv1HP/5h8mhofO5HP/3hOYJLurFHP/1iVtDMJtFHP/znpVKfMvFHP/xtoGgv5gNHP/v1pGjWhAhHP/t+xw0P2mlHP/sIxE6Trg5HP/qVFcCovptHP/ok92OOVXpHP/mySuUbrSdHP/lCope+BepHP/jUrEz+sApHP/ho2ezQb3xHP/f955cbsjFHP/eTUhtPrs9HP/cqjnnb33RHP/bCiqF4YZ1HP/Zde2XTgUxHP/X5OV2epK5HP/WVeGZ9R39HP/U0aAGaH/RHP/TWGb0YloFHP/R3cQ+8BmZHP/QaphZ4uolHP/O+Gbk8sCpHP/Ngo1CgQKxHP/MGeMD9c2dHP/Kt6H7UVuNHP/JWNOkLR9pHP/IAfKqpxqdHP/Gpy6pw7TFHP/FTh2MGb9pHP/D/lMek9XxHP/Cswz8ZqGlHP/BafEvvPmNHP/AI4OGxoGtHP+9xvB39iIBHP+7SG5ZdW4dHP+4yDgnDqbdHP+2TU53214hHP+z6+XYMzFJHP+xhbRsIUXdHP+vJVaNaA2hHP+szGwPbyRlHP+qdgedFiC1HP+oJ2ieoPaBHP+l43ute/QhHP+jpk2heV19HP+hardaPWyZHP+fNHmqD1mtHP+dAuJejWrRHP+a11TTXs5BHP+YrPNEKjeFHP+WhBrLMMUJHP+UYsgRuAvdHP+STI3w++cJHP+QOIhKtao9HP+OKQgwKjLZHP+MH5rj/J2RHP+KHRIytTNVHP+IF3kMvPDBHP+GFNOJVUL1HP+EFoG0as9ZHP+CHMOcAgqxHP+AJHVMbLjlHP98aEa3xxWVHP94jFh4pWD5HP90sUxfgdbZHP9w3EdtXdlhHP9tFoomNXH1HP9pWFurI8v9HP9lnbRxuse5HP9h58zEsN5JHP9eQq6g9oYxHP9aqluGXQMdHP9XBR/B8XzlHP9TdxI2GdcdHP9P8QmjAEDtHP9MXJS5MIjJHP9IxTlkItc5HP9FOJ5I4xz1HP9ByqruJrMVHP88u8pcA03dHP8152wxwXvxHP8vIEERdGItHP8obqNxvPeBHP8hwtLrTox5HP8bCcwes3nhHP8UZGjQdaqdHP8NzTRuWveBHP8HVH+dgNhVHP8AvvKh5ur1HP70O6hjgGyVHP7nLIY6/6KhHP7Z9PIW34LxHP7M6aePf2VhHP7AUeuFHrfBljAdoX3JhbmdllEc/sBR64Uet8EdAE5RmZmZmZYaUjAdmX3JhbmdllEdBSA3kpxqfvkdBSIiha8an8IaUjAJkY5RLEXUu
#*# calibrated_drive_currents = 17, 16
#*# calibration_version = 3
#*# calibration_16 = gASV5AoAAAAAAAB9lCiMAWaUXZQoR0FIIFugeuFIR0FIINLpZH1NR0FIIUoyThlSR0FIIcF7N7VXR0FIIjjEIVFcR0FIIrANCu1gR0FIIydV9IllR0FII56e3iVqR0FIJBXnx8FvR0FIJI0wsV10R0FIJQR5mvl5R0FIJXvChJV+R0FIJfMLbjGDR0FIJmpUV82IR0FIJuGdQWmMR0FIJ1jmKwWRR0FIJ9AvFKGWR0FIKEd3/j2bR0FIKL7A59mgR0FIKTYJ0XWlR0FIKa1SuxGqR0FIKiSbpK2vR0FIKpvkjkmzR0FIKxMtd+W4R0FIK4p2YYG9R0FILAG/Sx3CR0FILHkINLnHR0FILPBRHlXMR0FILWeaB/HRR0FILd7i8Y3WR0FILlYr2ynbR0FILs10xMXfR0FIL0S9rmHkR0FIL7wGl/3pR0FIMDNPgZnuR0FIMKqYazXzR0FIMSHhVNH4R0FIMZkqPm39R0FIMhBzKAoCR0FIMoe8EaYHR0FIMv8E+0ILR0FIM3ZN5N4QR0FIM+2WznoVR0FINGTfuBYaR0FINNwoobIfR0FINVNxi04kR0FINcq6dOopR0FINkIDXoYuR0FINrlMSCIzR0FINzCVMb43R0FIN6feG1o8R0FIOB8nBPZBR0FIOJZv7pJGR0FIOQ242C5LR0FIOYUBwcpQR0FIOfxKq2ZVR0FIOnOTlQJaR0FIOurcfp5eR0FIO2IlaDpjR0FIO9luUdZoR0FIPFC3O3JtR0FIPMgAJQ5yR0FIPT9JDqp3R0FIPbaR+EZ8R0FIPi3a4eKBR0FIPqUjy36GR0FIPxxstRqKR0FIP5O1nraPR0FIQAr+iFKUR0FIQIJHce6ZR0FIQPmQW4qeR0FIQXDZRSajR0FIQegiLsKoR0FIQl9rGF6tR0FIQta0AfqyR0FIQ03865a2R0FIQ8VF1TK7R0FIRDyOvs7AR0FIRLPXqGrFR0FIRSsgkgbKR0FIRaJpe6LPR0FIRhmyZT7UR0FIRpD7TtrZR0FIRwhEOHbeR0FIR3+NIhLiR0FIR/bWC67nR0FISG4e9UrsR0FISOVn3ubxR0FISVywyIL2R0FISdP5sh77R0FISktCm7sAR0FISsKLhVcFR0FISznUbvMKR0FIS7EdWI8OR0FITChmQisTR0FITJ+vK8cYR0FITRb4FWMdR0FITY5A/v8iR0FITgWJ6JsnR0FITnzS0jcsR0FITvQbu9MxR0FIT2tkpW81R0FIT+Ktjws6R0FIUFn2eKc/R0FIUNE/YkNER0FIUUiIS99JR0FIUb/RNXtOR0FIUjcaHxdTR0FIUq5jCLNYR0FIUyWr8k9dR0FIU5z02+thR0FIVBQ9xYdmR0FIVIuGryNrR0FIVQLPmL9wR0FIVXoYglt1R0FIVfFha/d6R0FIVmiqVZN/R0FIVt/zPy+ER0FIV1c8KMuJR0FIV86FEmeNR0FIWEXN/AOSR0FIWL0W5Z+XR0FIWTRfzzucR0FIWauouNehR0FIWiLxonOmR0FIWpo6jA+rR0FIWxGDdauwR0FIW4jMX0e1R0FIXAAVSOO5R0FIXHdeMn++R0FIXO6nHBvDR0FIXWXwBbfIR0FIXd0471PNR0FIXlSB2O/SR0FIXsvKwovXR0FIX0MTrCfcR0FIX7pclcPgR0FIYDGlf1/lR0FIYKjuaPvqR0FIYSA3UpfvR0FIYZeAPDP0R0FIYg7JJc/5R0FIYoYSD2v+R0FIYv1a+QgDR0FIY3Sj4qQIR0FIY+vszEAMR0FIZGM1tdwRR0FIZNp+n3gWR0FIZVHHiRQbR0FIZckQcrAgZYwBaJRdlChHQC3mrhR64URHQCuvmE8Q5JVHQCmdqfnVeG5HQCfQlMnJBWlHQCZ+HDg4oaxHQCVu0LArAHZHQCRA0BiBEXxHQCNfwjbBLERHQCJ6EjHPmFRHQCHFt3j5Wr5HQCD+A25W25ZHQCBltEwhpjFHQB+UV/VUIN9HQB6KMH3WnXVHQB2UdK230zdHQBydQE4II8pHQBu5Tq6qFvpHQBrd2OPvE3NHQBoJUtrZwYZHQBk7yt3+d4ZHQBiGGy0+3HFHQBfXxiIItkRHQBcrtx+psMJHQBacg5xH8elHQBYR/WbFlcNHQBWEgOgCOlVHQBUDHUljnolHQBSABz3dtqhHQBP4RMMd8CdHQBN1AC19sp5HQBMD3uUyHolHQBKYr8rWaDNHQBItmPOprGVHQBHGQ4JAF9JHQBFiMd0yeaZHQBD+A0RKWiVHQBCgXV4D9MNHQBBCgdwAvSRHQA/akc1lVR5HQA8xDC6UNllHQA6ICI5QO6VHQA3i+zPV9F1HQA1CUCkhbWRHQAyqw30gNgRHQAwQbo7qhm5HQAuBGo54HihHQArwQGXj6StHQAplClAvD6xHQAnmSwcb6IZHQAlbuvp92t9HQAjdp55Tm1ZHQAhjaRrViXJHQAfp+9++hBBHQAdyJAk+nSpHQAb9YLjSdkFHQAaJ6wDnaltHQAYYmQNufLFHQAWlp0uYq7xHQAU6+pWkt7VHQATXBSex0edHQARudDRuKGRHQAQGDylSMShHQAOh8bpTBApHQANBdTHegdtHQALeakkyFMlHQAJ+MJUsHr9HQAIiH9eJxdxHQAHGs7lCfCFHQAFzKLLm0jNHQAEcWEQbu1FHQADGg1TU8EJHQAB0FtOjOKlHQAAfPsz4+cdHP/+ZL+AC2dVHP/73GO/XoxtHP/5ZTqF0CkJHP/27ybUCSPZHP/0hbOYkq1tHP/yKMbyUEAJHP/v1/ZL4SoZHP/ti7Bzg3ahHP/rT+7HZAoBHP/pJGEGrGEBHP/m/4bYZstNHP/k0K4LKvCVHP/itPaKA9ftHP/gosSGLYhBHP/eh484ZHbNHP/cgKXbK0OpHP/ag8rf/iu9HP/YjnjJPyqJHP/Wlw+DFJ2VHP/Um+2In+5JHP/Swtrf7DhxHP/Q4NAey0MNHP/O+ZNHFLJ9HP/NKixX62pJHP/LXMrlGvwJHP/JlZBALYPxHP/H1O+WCmV9HP/GKio3RKX5HP/Ec5ZSy3k1HP/Cv35tz8P5HP/BDA/StdfNHP++sO1lEF6pHP+7cE75zPGZHP+4S6lTAtIpHP+1LU04oCsNHP+yCbSZouZZHP+u9pWxSkYZHP+r8H21POJ5HP+o5dQTG585HP+lxAnMiP+hHP+itWUc5lGdHP+fwI/RzIjBHP+c4VAZgRjFHP+Z/Mi8wn3JHP+XGSiiSPWpHP+UNkffeJv1HP+RYnrImB8xHP+OZr1lodk9HP+Lm4lc5PYlHP+IysdumI2BHP+GCaCxCR2ZHP+DQYj5M9LpHP+Akxv8VlfRHP973UVvbPY9HP92p+whnX7RHP9xddSGxXtpHP9sTSOBdsexHP9nMW5gWt49HP9iJ0IQud2tHP9dL25FHhtFHP9YP57z/+CNHP9TWMw6aVNRHP9OnfDeepH1HP9JyzBcAXkhHP9FI4mHYn+hHP9Ac5s4f1tBHP83k74Bq1OFHP8uTfwPk2hRHP8k9DpOfKAZHP8bpuN3GEStHP8Sn/LkOYiBHP8JxdQNnEHRHP8Awbv6ZBApHP7vdFT3GzJFHP7dcIKHSCgBHP7LwRBjBxhtHP60o9cKPWABljAdoX3JhbmdllEc/rSj1wo9YAEdALeauFHrhRIaUjAdmX3JhbmdllEdBSCBboHrhSEdBSGXJEHKwIIaUjAJkY5RLEHUu
